@height: 300px;

.carousel {
  text-align: center;
  letter-spacing: 1px;
}
.carouseul {
  position: relative;
  height: @height;
}
.carouseli {
  height: @height;
  width: 100%;
  position: absolute;
}
.carouseText {
  font-size: 50px;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.carouselCz {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselCz p {
  margin: 15px;
}
