.carousel {
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
  overflow: hidden;
}
.carouseul {
  position: relative;
  background-color: #c6d3ec;
}
.carouseli {
  display: inline-block;
  transition: transform;
}
.carouseText {
  font-size: 50px;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.carouselSzul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselSzul .carouselSzli {
  padding: 5px;
  margin: 10px;
  border: 2px solid rgb(118 159 236);
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
}
.carouselSzul .carouselSzliActive {
  background-color: rgb(118 159 236);
  color: #fff;
  border-radius: 5px;
}
.carouselCz {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselCz p {
  margin: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
.carouselCz p:active {
  color: #1e80ff;
}
